# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.eggs/
*.egg
pip-wheel-metadata/
.pytest_cache/

# Virtual environments
.venv/
venv/
env/
ENV/

# PyInstaller
*.spec
/dist/
/build/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
*.dmg

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs / temp
*.log
*.tmp
